[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pulsar-client = "==2.10.1"
sanic = "*"
betterproto = {extras = ["compiler"], version = "*"}
grpcio-tools = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = false
